
/* font and margins */
body {
    font-family: Arial;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

/* image borders */
img{
    border: 5px solid #AEAEAE;
}

